.link-game__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--fs-4);
}

.link-game__card {
  display: inline-flex;
  padding: 10px;
  border-radius: 15px;
  background-color: #ededed;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.link-game__card.disable {
  opacity: 0.5;
  cursor: auto;
}

.link-game__icon {
  height: 150px;
}

.link-game__description {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: calc(var(--fs-6) * 12);
  font-size: var(--fs-6);
}

.link-game__description_title {
  font-size: var(--fs-4);
}

.link-game__description p {
  text-align: center;
}

.link-game__title {
  width: 100%;
}

@media (max-width: 1024px) {
  .link-game__icon {
    height: 100px;
  }
}
