.textbook__pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.textbook__page-item {
  position: relative;
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  background-color: transparent;
  border-radius: 100%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  padding: 0.5em;
  text-align: center;
  min-width: 2.5em;
  cursor: pointer;
}

.textbook__page-item.active {
  background-color: var(--mark-color);
}
