.words-wrapper {
  display: flex;
  gap: 2rem;
}

.word__card {
  min-width: 400px;
  background-color: #f3f4f8;
}

.card__description-wrapper {
  padding: 5px;
}

.card__img {
  width: 100%;
  object-fit: contain;
}
.word__list{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.list__button {
  width: 260px;
  height: 140px;
  border-radius: 15px;
  background-color: #EDEDED;
}


.list__word {
  text-transform: capitalize;
}