@font-face {
  font-family: 'Mouth Breather';
  src: local('v_mouthbreatherbb'), url('./assets/fonts/v_mouthbreatherbb.ttf');
}

a {
  text-decoration: none;
}

:root {
  --main-font-family: 'Mouth Breather';
  --second-font-family: 'Verdana';
  --main-text-color: #000;
  --mark-color: #ffba4a;
  --link-hover-color: #fc7e53;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 120px);
}
